- name: install Nginx server
  hosts: web
  become: yes
  tasks:
  - name: install web nginx server
    ansible.builtin.package:
     name: nginx
     state: present

  - name: start nginx
    ansible.builtin.service:
     name: nginx
     state: started
     enabled: yes   